/* =========================================================
   HERO SECTION
========================================================= */

.hero {
  position: relative;

  min-height: 100dvh;

  isolation: isolate;
}


.hero-layout {
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;

  min-height: 75dvh;

  padding-bottom: clamp(3rem, 5vw, 6rem);
}

/* =========================================================
   HERO BOTTOM
========================================================= */

.hero-bottom {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: clamp(5rem, 3vw, 3rem);
}