/* =========================================================
   ribbon-section.css
========================================================= */

.ribbon-section {
  position: relative;

  width: 100%;
  min-height: 19vw;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background-image: url("/images/ribbon-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* TABLET */
@media (max-width: 1024px) {
  .ribbon-section {
    min-height: 26vw;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .ribbon-section {
    min-height: 42vw;
  }
}