.hero-content-Home {

  position: relative;

  z-index: 2;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 8%;
  padding-right: 8%;

  max-width: 1100px;
  transform: translateX(-150px);
  color: white;
  
}

/* -------------------- */
/* SUBTITULO */
/* -------------------- */

.hero-subtitle-Home {

  font-family: var(--font-anton);

  font-size: clamp(
    3rem,
    3.4vw,
    5rem
  );

  color: #ffd815;

  text-transform: uppercase;

  letter-spacing: 3px;

  text-align: center;

  margin-bottom: 2rem;

}

/* -------------------- */
/* TITULO */
/* -------------------- */

.hero-title-Home {

  font-family: var(--font-anton);

  font-size: clamp(
    4rem,
    10vw,
    9rem
  );

  line-height: 0.95;

  text-align: center;

  margin-bottom: 1rem;

  white-space: nowrap;
}

/* -------------------- */
/* DESCRIPCION */
/* -------------------- */

.hero-description-Home {

  font-family: "Bebas Neue", sans-serif;

  color: white;

  font-size: clamp(
    1rem,
    1.8vw,
    1.7rem
  );


  line-height: 1.4;

  text-align: center;

  max-width: 600px;

  margin:
    0 auto 2rem auto;
}

/* -------------------- */
/* BOTONES */
/* -------------------- */

.hero-buttons-Home {

  display: flex;

  justify-content: center;

  gap: 1rem;

  flex-wrap: wrap;
}

/* -------------------- */
/* ESTILO BASE */
/* -------------------- */

.hero-button-Home {

  display: inline-flex;

  align-items: center;
  justify-content: center;

  min-width: 180px;

  padding:
    1rem 2rem;

  border-radius: 999px;

  text-decoration: none;

  font-family:
    "Bebas Neue",
    sans-serif;

  font-size: 1.25rem;

  letter-spacing: 1px;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* -------------------- */
/* BOTON PRIMARIO */
/* -------------------- */

.hero-button-primary-Home {

  background-color: #1ecc0a;

  color: white;
}

.hero-button-primary-Home:hover {

  background-color: #17b107;
}

/* -------------------- */
/* BOTON SECUNDARIO */
/* -------------------- */

.hero-button-secondary-Home {

  background-color: white;

  color: black;
}

.hero-button-secondary-Home:hover {

  background-color: #e6e6e6;
}

/* -------------------- */
/* TABLET */
/* -------------------- */

@media (max-width: 1024px) {

  .hero-content-Home {

    max-width: 100%;
  }

  .hero-description-Home {

    max-width: 750px;
  }
}

/* -------------------- */
/* MOBILE */
/* -------------------- */

@media (max-width: 768px) {

  .hero-content-Home {

    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero-title-Home {

    line-height: 1;
    white-space: nowrap;
  }

  .hero-description-Home {

    max-width: 100%;

    font-size: 1.2rem;
  }

  .hero-buttons-Home {

    flex-direction: column;

    align-items: center;
  }

  .hero-button-Home {

    width: 100%;
    max-width: 300px;

    text-align: center;
  }
}