/* =========================================================
   LORE SHOWCASE IMAGE
========================================================= */

.lore-showcase-image-wrapper {
  display: flex;

  justify-content: center;
}

/* =========================================================
   IMAGE
========================================================= */

.lore-showcase-image {
  width: min(700px, 100%);

  height: auto;

  display: block;
}