/* =========================================================
   LORE SHOWCASE CONTENT
========================================================= */

.lore-showcase-content {
  display: flex;

  flex-direction: column;

  justify-content: center;

  width: 100%;
}

/* =========================================================
   TITLE
========================================================= */

.lore-showcase-title {
  display: block;

  margin: 0;

  color: #2C2621;

  font-family: "Bebas Neue", sans-serif;

  font-size: clamp(4rem, 4vw, 5rem);

  font-weight: 900;

  line-height: 2;

  letter-spacing: 0.03em;

  white-space: nowrap;
}

/* =========================================================
   TITLE SPAN
========================================================= */

.lore-showcase-title span {
  display: inline;

  color: rgb(30, 24, 19);

  font-size: inherit;
}

/* =========================================================
   DESCRIPTION
========================================================= */

.lore-showcase-description {
  margin: 0;

  width: 100%;

  max-width: 540px;

  color: #2C2621;

  font-family: "Bebas Neue", sans-serif;

  font-size: clamp(1.7rem, 1.2vw, 2rem);

  line-height: 1.5;

  letter-spacing: 0.04em;
}