/* ========================================
   SECTION
======================================== */

.instagram-banner-section {

  width: 100%;

  padding:
    4rem
    3rem;
}

/* ========================================
   LINK
======================================== */

.instagram-banner-link {

  position: relative;

  display: block;

  width: 100%;

  overflow: hidden;

  border:
    4px solid #ffd815;

  border-radius: 16px;

  transition:
    transform 300ms ease,
    box-shadow 300ms ease;
}

/* ========================================
   LINK HOVER
======================================== */

.instagram-banner-link:hover {

  transform:
    translateY(-2px);

  box-shadow:
    0 20px 40px
    rgba(0, 0, 0, 0.20);
}

/* ========================================
   IMAGE
======================================== */

.instagram-banner-image {

  display: block;

  width: 100%;
  height: auto;
}

/* ========================================
   OVERLAY
======================================== */

.instagram-banner-overlay {

  position: absolute;

  inset: 0;

  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 2rem;


  color: white;
}

/* ========================================
   TITLE
======================================== */

.instagram-banner-title {

  font-size:
    clamp(
      2rem,
      4vw,
      4rem
    );

  margin-bottom: 1rem;

  text-shadow:
    0 3px 12px
    rgba(0, 0, 0, 0.6);
}

/* ========================================
   DESCRIPTION
======================================== */

.instagram-banner-description {

  max-width: 700px;

  margin-top: 1rem;

  line-height: 1.6;
}

/* ========================================
   SECTION TITLE
======================================== */

.instagram-banner-section-title {

  margin-bottom: 2rem;

  text-align: center;

  font-family: var(--font-anton);

  font-size: clamp(
    3rem,
    5vw,
    5.5rem
  );

  color: whitesmoke;

  text-transform: uppercase;

  line-height: 1;
}

/* ========================================
   BUTTON HOVER
======================================== */

.instagram-banner-link:hover
.instagram-banner-button {

  background: white;

  color: black;
}

/* ========================================
   MOBILE
======================================== */

@media (max-width: 768px) {

  .instagram-banner-section {

    padding:
      3rem
      1rem;
  }

  .instagram-banner-link:hover {

    transform:
      translateY(-5px);
  }

  .instagram-banner-overlay {

    padding: 2rem;

    align-items: center;

    text-align: center;
  }

  .instagram-banner-description {

    max-width: 100%;
  }
}