.ProductoLootboxPBX2025 {
  width: 100%;

  margin-top: clamp(4rem, 10vw, 8rem);
}

.ProductoLootboxPBX2025-Mobile {
  display: none;
}

@media (max-width: 768px) {

  .ProductoLootboxPBX2025-Desktop {
    display: none;
  }

  .ProductoLootboxPBX2025-Mobile {
    display: block;
  }

}