.carta-texto-theme {

  position: relative;

  isolation: isolate;
}

/* =========================================================
   BACKGROUND LAYER
========================================================= */

.carta-texto-background {

  position: sticky;

  top: 0;

  width: 100%;
  height: 100dvh;

  z-index: -1;

  pointer-events: none;

  background-size: 100% auto;

  background-position: center top;

  background-repeat: no-repeat;
}

.carta-texto-content {

  position: relative;

  z-index: 1;

  margin-top: -100vh;
}

@media (max-width: 768px) {

  .carta-texto-background {

    background-size: cover;

    background-position: 65% center;
  }
}