.Page-MazosEdicion-Section {
  width: 100%;
}

.Page-MazosEdicion-Item {
  min-height: 140vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {

  .Page-MazosEdicion-Item {
    min-height: auto;
  }

}