.Page-MazosEdicion-Section {
  width: 100%;
}

.Page-MazosEdicion-Item {

  position: relative;

  width: 100%;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;

  overflow: hidden;
}

.Page-MazosEdicion-Overlay {

  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

}