/* =========================================================
   SHOWCASE CONTENT
========================================================= */

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* =========================================================
   TITLE
========================================================= */

.showcase-title {
  display: flex;
  flex-direction: column;

  margin: 0;

  font-family: "Bebas Neue", sans-serif;

  font-size: clamp(2rem, 4vw, 3.2rem);

  font-weight: 900;

  line-height: 0.95;

  letter-spacing: 0.03em;
}

/* =========================================================
   SPAN
========================================================= */

.showcase-title span {
  color: #1ecc0a;

  font-size: clamp(1.5rem, 3vw, 2.4rem);

  margin-top: 0;
}

/* =========================================================
   DESCRIPTION
========================================================= */

.showcase-description {
  margin: 0;

  width: min(540px, 100%);

  font-family: "Bebas Neue", sans-serif;

  font-size: clamp(1.7rem, 1.4vw, 1.35rem);

  line-height: 1.5;

  letter-spacing: 0.04em;

  color: rgba(255,255,255,0.82);
}