/* =========================================================
   FOG
========================================================= */

.fog {
  position: absolute;

  border-radius: 999px;

  filter: blur(120px);

  pointer-events: none;

  opacity: 0.18;

  z-index: 1;
}

/* =========================================================
   LEFT FOG
========================================================= */

.fog-left {
  width: 400px;
  height: 400px;

  background: rgba(255,255,255,0.08);

  top: 10%;
  left: -10%;
}

/* =========================================================
   RIGHT FOG
========================================================= */

.fog-right {
  width: 500px;
  height: 500px;

  background: rgba(76,175,80,0.12);

  bottom: -10%;
  right: -10%;
}