
@media (max-width: 768px) {
  .HeroEdicionPBX .Hero-Title {
    font-size: 7.5rem;
  }

  .HeroEdicionPBX .Hero-Subtitle {
    font-size: 2.5rem;
  }

  .HeroEdicionPBX .Hero-Description {
    font-size: 1.5rem;
  }

  .HeroEdicionPBX .Hero-Content {
    padding: 1rem;
  }

  .HeroEdicionPBX .Hero-Button {
    padding: 0.9rem 2rem;
  }
}