.lore {
  padding: 320px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0,0,0,0.6),
    transparent
  );

  background-image: url("../../../assets/lore/FONDO.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CONTENEDOR */
.lore-container {
  max-width: 800px;
  text-align: center;
}

/* TITULO */
.lore-title {
  font-size: clamp(2rem, 5vw, 3.5rem);
  margin-bottom: 30px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  

  
}

/* TEXTO */
.lore-text {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;

  color: rgba(255,255,255,0.85);

  letter-spacing: 0.03em;
}