.AprendeAJugarVideoContainer-MazosInicialPB {
  width: 100%;
  max-width: 1000px;

  aspect-ratio: 16 / 9;

  margin-bottom: 40px;
}

.AprendeAJugarVideo-MazosInicialPB {
  width: 100%;
  height: 100%;

  border: none;
}