.shogun-buyabox-carousel {

  width: 100%;

  min-width: 0;

  overflow: hidden;
}

.shogun-buyabox-carousel-track {

  display: flex;
}

.shogun-buyabox-carousel-slide {

  flex: 0 0 100%;

  min-width: 0;

  display: flex;

  justify-content: center;
}

/* =========================================================
   AISLA VISUALMENTE CADA GRUPO
========================================================= */

.shogun-buyabox-carousel-slide-inner {

  width: 100%;

  display: flex;

  justify-content: center;

  overflow: hidden;

  position: relative;
}

.shogun-buyabox-carousel-wrapper {

  position: relative;

  width: 100%;

  display: flex;

  align-items: center;

  justify-content: center;
}

@media (max-width: 768px) {

  .carousel-control {

    display: none;
  }

  .shogun-buyabox-carousel-wrapper {

    display: block;

    width: 100%;
  }
}