.ElasticTrackWrapper {
  overflow: hidden;

  display: flex;
  justify-content: center;

  padding: 2rem 0;
}

.ElasticTrack {
  display: flex;
  gap: 1.5rem;

  width: max-content;

  cursor: grab;
}

.ElasticTrack:active {
  cursor: grabbing;
}