.ElasticCard {

  flex-shrink: 0;

  transition: all .3s ease;

  box-shadow:
    0 15px 40px rgba(0,0,0,.35);

  border-radius: 12px;

  overflow: hidden;
}

.ElasticCard img {

  width: 240px;

  display: block;

  pointer-events: none;

  user-select: none;

  -webkit-user-drag: none;

  filter:
    drop-shadow(
      0 10px 25px rgba(0,0,0,.3)
    );
}