.MobileCard {

  flex: 0 0 85%;

  scroll-snap-align: center;

  border-radius: 12px;

  overflow: hidden;

  box-shadow:
    0 10px 25px rgba(0,0,0,.3);
}

.MobileCard img {

  width: 100%;

  display: block;

  user-select: none;

  -webkit-user-drag: none;
}