.site-footer {
  border-top:
    1px solid rgba(255,255,255,.08);

  background:
    #080808;
}

.site-footer-container {
  max-width: 1600px;

  margin: 0 auto;

  padding:
    2rem;
}

.site-footer p {
  text-align: center;

  color: #888;
}