.magic-section-alt {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 120px 80px;
  gap: 60px;

  background: radial-gradient(circle at 70% 50%, #1a1a1a, #050505);

  background-image: url("../assets/secretas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* TEXTO (derecha) */
.magic-left-alt {
  flex: 1.3;
  max-width: none;
  transform: translateX(-150px);
}

.magic-title-alt {
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 2px;

  max-width: 500px; /* 👈 mantiene el título compacto */
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;

  text-shadow:
    0 4px 15px rgba(0,0,0,0.8);
}

.magic-text-alt {
  font-size: 10px;
  line-height: 1.6;
  max-width: 700px;
  color: rgba(255,255,255,0.75);
}

/* IMAGEN (izquierda) */
.magic-right-alt {
  flex: 1;
  display: flex;
  ustify-content: flex-start; /* 👈 clave */
}

/* CARTA */
.magic-card-alt {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.magic-card-alt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ✨ DORADO REAL (esto es lo importante) */
.gold-text {
  background: linear-gradient(
    120deg,
    #f5d76e,
    #ffd700,
    #ffb700,
    #f5d76e
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 10px rgba(255,215,0,0.4),
    0 0 20px rgba(255,215,0,0.2);
}